@import 'assets/styles/mixins';
@import 'assets/styles/variables';

.menu-nav {
    width: 350px;
    height: calc(100vh - 80px - 4rem);
    background-color: $colour-secondary;

    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;

    &-blocs {
        width: 100%;

        &-link {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1.5rem 0 1.5rem 5rem;
            color: $font-color-light;
            transition: 0.3s;
            text-decoration: none;
            font-weight: 600;

            &:active,
            &:focus,
            &:hover {
                cursor: pointer;
                color: $colour-primary;

                &:after {
                    position: absolute;
                    top: 50%;
                    transform: translate(0%, -50%);
                    right: 0;

                    background-color: $colour-primary;
                    height: 30px;
                    width: 5px;
                    content: '';
                }
            }

            & .icon {
                margin-right: 1rem;
            }
        }
    }

    &-img {
        position: relative;
        width: 100%;

        & .blob {
            width: 700px;
            margin: 0 0 -20rem -10rem;
        }
        & .artwork {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 300px;
        }
    }
}
