@import 'assets/styles/mixins';
@import 'assets/styles/variables';
.header {
    width: auto;

    &-title {
        height: 80px;

        font-weight: 600;
        font-size: 1.5rem;
        padding: 4rem 0 0 5rem;
    }
    &-separator {
        width: 50%;
        height: 2px;
        margin: 0 0 2rem 5rem;
        background-color: $colour-secondary;
    }
}
