.router-container {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > :nth-child(2) {
    }

    & > :nth-child(3) {
        width: 100%;
    }
}
