@import 'assets/styles/mixins';
@import 'assets/styles/variables';

.menu-nav {
    width: 350px;
    height: calc(100vh - 80px - 2rem);
    background-color: $colour-secondary;

    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;

    overflow: hidden;

    @include breakpoint(s) {
        width: 100%;
        padding-top: 2rem;
        height: calc(100vh - 80px - 2rem);

        &.active {
            animation: OpenMobile 300ms ease-in-out 300ms forwards;
        }
    }

    &.active {
        animation: Open 300ms ease-in-out forwards;

        .menu-nav-blocs {
            opacity: 0;
            animation: FadeIn 300ms ease-in-out 300ms forwards;
        }
        .menu-nav-img {
            opacity: 0;
            animation: FadeIn 300ms ease-in-out 300ms forwards;
        }
    }

    &.hidden {
        animation: Close 300ms ease-in-out 300ms forwards;

        .menu-nav-blocs {
            animation: FadeOut 300ms ease-in-out forwards;
        }
        .menu-nav-img {
            animation: FadeOut 300ms ease-in-out forwards;
        }
    }

    &-blocs {
        width: 100%;

        // Display on small screen
        & > :nth-child(3) {
            display: none;
            @include breakpoint(s) {
                display: flex;
            }
        }
        & > :nth-child(4) {
            display: none;
            @include breakpoint(m) {
                display: flex;
            }
        }

        &-link {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1.5rem 0 1.5rem 5rem;
            color: $font-color-light;
            transition: 0.3s;
            text-decoration: none;
            font-weight: 600;

            @include breakpoint(s) {
                padding: 1.5rem 0 1.5rem 3rem;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translate(0%, -50%);
                right: 0;
                height: 30px;
                width: 5px;

                background-color: transparent;
                transition: 0.3s;
            }

            &:active,
            &:focus,
            &:hover {
                cursor: pointer;
                color: $colour-primary;

                &:after {
                    background-color: $colour-primary;
                }
            }
            & .bloc-icon {
                position: relative;
                width: 50px;
            }
            & .icon {
                margin-right: 1rem;
            }
            &.profile {
                text-align: center;
                & .avatar {
                    width: 55px;
                }
                span {
                    margin-left: 1.5rem;
                }
            }
        }
    }

    &-img {
        position: relative;
        width: 100%;

        & .blob {
            width: 700px;
            margin: 0 0 -20rem -10rem;
        }
        & .artwork {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 300px;

            @include breakpoint(s) {
                width: 250px;
                top: 40%;
            }
        }
    }
}

@keyframes FadeOut {
    to {
        opacity: 0;
    }
}
@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes Close {
    0% {
        width: 350px;
    }

    100% {
        width: 0;
    }
}
@keyframes Open {
    0% {
        width: 0;
    }

    100% {
        width: 350px;
    }
}

@keyframes OpenMobile {
    to {
        width: 100%;
    }
}
